<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="lib/mocha/mocha.css">
</head>
<body>
    <div id="mocha"></div>
                <div class="header">
                <div class="header-container">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href=" ">Home</a></li>
                    <li><a href="#/students">Students</a></li>
                    <li><a href="#/staff">Staff</a></li>
                </ul>
                <a href=" "><h3 class="text-muted">academy directory</h3></a>
                </div>
            </div>
        
        <div class="container">
        
            <div class="logo">
             <img class="logo" src="images/iron.png">
             </div>
             <div class="text">
               <h2>ACADEMY DIRECTORY</h2>
               <div class="staff">
               <a href="#/staff"><img class="icons" src="images/teacher.png"></a>
                <a href="#/staff">Staff</a>

               </div>
               <div class="student">
                <a href="#/students"><img class="icons" src="images/student.png"></a>
                <a href="#/students">Students</a>
            </div>

           </div>
         </div>

         <div class="container-add">
         </div>

                 <!-- template for main student directory page -->
        <script type="text/template" id="grid-template">
            <div id="thumbnail">
            <img id="photo" src="<%= student.get('photo')%>"</img>
            </div>
            <div id="thumbnail-info">
                <ul>
                    <li id="name"><%= student.get('name')%></li>
                    <li id="sub-info"><a href="mailto:<%= student.get('email')%>"><%= student.get('email')%></a></li> 
                    <li id="sub-info"><a type="button" class="btn btn-default btn-xs" id="activate">More details</a><li>
                </ul>
            </div>
        </script>

        <!-- template to add new student on student directory page -->
        <script type="text/template" id="add-template">
        <input id="student-name" placeholder='Name'>
        <input id="email" placeholder='Email'>
        <input id="github" placeholder='Github account'>
        <button type="button" id="add" class="btn btn-default">Add student</button>
        </script>

        <!-- template for individual student page -->
       <script type="text/template" id="profile-template">
            <img id="profile-photo" src="<%= student.get('photo')%>"</img>
            <h1> <%= student.get('name')%></h1>
            <ul>
                <li>Email: <a href="mailto:<%= student.get('email')%>"> <%= student.get('email')%></a></li>
                <li>Github page: <a href="https://<%=student.get('github')%>"> <%= student.get('github')%></a></li>
            </ul>
            <button id="edit">Edit</button>
            <button id="delete">Delete</button>
       </script>

       <!-- template for editing student page -->
        <script type="text/template" id="edit-template"> 
            <h1> Edit profile </h1> 
            <ul>
            <li><span>Name:  </span> <input id="name" value="<%=student.get('name')%>"></li>
            <li><span>Email: </span> <input id="email" value="<%=student.get('email')%>"></li>
            <li><span>Github:</span> <input id="github" value="<%=student.get('github')%>"></li>
            <li><button id="save">Save</button></li>
            </ul> 
        </script>

        <!-- template for main staff directory page -->
        <script type="text/template" id="staff-template">
            <img src="<%= staff.get('photo')%>"</img>
                <ul>
                    <li id="staff-name"><%= staff.get('name')%></li>
                    <li><%= staff.get('title')%></li> 
                     <li><a href="mailto:<%= staff.get('email')%>"> <%= staff.get('email')%></a></li>
                </ul>
        </script>


    <script src="lib/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <!-- assertion framework -->
    <script src="lib/chai.js"></script>
    <script>var expect = chai.expect</script>

    <!-- include source files here... -->
    <script src="../app/bower_components/jquery/jquery.js"></script>
    <script src="../app/bower_components/underscore/underscore.js"></script>
    <script src="../app/bower_components/backbone/backbone.js"></script>
    <script src="../app/scripts/views.js"></script>
    <script src="../app/scripts/models.js"></script>
    <script src="../app/scripts/router.js"></script>

    <script src="../app/bower_components/sass-bootstrap/js/modal.js"></script>


    <!-- include spec files here... -->
    <script src="spec/test.js"></script>

    <script>mocha.run()</script>
</body>
</html>
